@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1pat1mm-MuiButtonBase-root-MuiTab-root {
  min-width: 0 !important;
}

.css-1fy22qb-MuiButtonBase-root-MuiTab-root {
  padding: 0 !important;
}

.css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: space-between !important;
}

.slick-next:before {
  content: ">";
  color: black;
}
.slick-prev::before {
  content: "<";
  color: black;
}

.modalBack {
  background-color: #0000004d;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f6f6f6 !important;
}
